* {
    margin: 0;
    padding: 0;
  }
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(Dog.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
.reg {
    position: absolute;
    width: 1200px;
  }
h1 {
    color: yellowgreen;
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.name {
    color: green;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px 20px;
}
.gender {
    color: green;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px 20px;
}
.email {
    color: green;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px 20px;
}
.password {
    color: green;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px 20px;
}
.birthdate {
    color: green;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px 20px;
}
.breed {
    color: green;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px 20px;
}
.submit {
    color: green;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px 20px;
}
.btn {
    border: 2px solid white;
    padding: 10px 30px;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    text-decoration: none;
  }
.btn:hover{
    background-color: burlywood;
}
input[type=text]{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
input[type="email"],[type="password"]{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}
select{
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid red;
  border-radius: 4px;
}